<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,748},{100,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,118}}</string>
                <key>sourceSize</key>
                <string>{100,118}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,644},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,397},{393,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,44}}</string>
                <key>sourceSize</key>
                <string>{393,44}</string>
            </dict>
            <key>bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{393,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,44}}</string>
                <key>sourceSize</key>
                <string>{393,44}</string>
            </dict>
            <key>bg_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>bg_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1189},{196,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{196,98}</string>
            </dict>
            <key>btn4_o.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1089},{196,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{196,98}</string>
            </dict>
            <key>girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1926},{115,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,211}}</string>
                <key>sourceSize</key>
                <string>{115,211}</string>
            </dict>
            <key>girl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1926},{115,210}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,210}}</string>
                <key>sourceSize</key>
                <string>{115,212}</string>
            </dict>
            <key>girl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1926},{115,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,212}}</string>
                <key>sourceSize</key>
                <string>{115,212}</string>
            </dict>
            <key>girl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{115,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,212}}</string>
                <key>sourceSize</key>
                <string>{115,212}</string>
            </dict>
            <key>girl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1926},{115,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,212}}</string>
                <key>sourceSize</key>
                <string>{115,212}</string>
            </dict>
            <key>guanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,989},{196,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{196,98}</string>
            </dict>
            <key>guanzhu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,889},{196,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{196,98}</string>
            </dict>
            <key>img_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,2},{201,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,46}}</string>
                <key>sourceSize</key>
                <string>{201,46}</string>
            </dict>
            <key>img_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,495},{200,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,20}}</string>
                <key>sourceSize</key>
                <string>{200,20}</string>
            </dict>
            <key>img_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,154},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>img_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1286},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>jifen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,601},{196,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{196,98}</string>
            </dict>
            <key>jifen_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,550},{196,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{196,98}</string>
            </dict>
            <key>label.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{491,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,154}}</string>
                <key>sourceSize</key>
                <string>{491,154}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,850},{482,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,323}}</string>
                <key>sourceSize</key>
                <string>{482,323}</string>
            </dict>
            <key>more.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,403},{196,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{196,98}</string>
            </dict>
            <key>more_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,352},{196,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{196,98}</string>
            </dict>
            <key>present.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,644},{138,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,115}}</string>
                <key>sourceSize</key>
                <string>{138,115}</string>
            </dict>
            <key>present_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>present_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,644},{640,756}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,756}}</string>
                <key>sourceSize</key>
                <string>{640,756}</string>
            </dict>
            <key>rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1334},{494,626}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,626}}</string>
                <key>sourceSize</key>
                <string>{494,626}</string>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,205},{196,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{196,98}</string>
            </dict>
            <key>restart_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,154},{196,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,98}}</string>
                <key>sourceSize</key>
                <string>{196,98}</string>
            </dict>
            <key>share_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,495},{240,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,126}}</string>
                <key>sourceSize</key>
                <string>{240,128}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,2},{150,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,152}}</string>
                <key>sourceSize</key>
                <string>{150,152}</string>
            </dict>
            <key>start_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,737},{150,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,152}}</string>
                <key>sourceSize</key>
                <string>{150,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_res.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29a3244a29f9b8ad320d25112d4fc117:1/1$</string>
            <key>textureFileName</key>
            <string>big_res.png</string>
        </dict>
    </dict>
</plist>
